@charset "utf-8";

body {
  background-color: #f7f7ff;
  color: #434041;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', Meiryo, sans-serif;
  line-height: 1.5;
}

h1 {
  text-shadow: 1px 1px 1px #f0f0ff;
  margin: 30px 0px 0px 0px;
}

h2, h3, h4, h5 {
  text-shadow: 1px 1px 1px #f0f0ff;
  margin: 15px 0px 0px 0px;
}

p {
  margin: 10px 0px 0px 0px;
}

hr {
  margin: 40px 0px 0px 0px;
  border: 0;
  border-top: 1px dashed #8c8c8c;
  text-align: center;
}

hr:after {
  display: inline-block;
  position: relative;
  top: -13px;
  padding: 0 3px;
  background: #f0f0ff;
  color: #8c8c8c;
  font-size: 18px;
}

ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 30px;
}

li {
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
  padding: 0;
  width: 100%;
  box-shadow: 0 0 15px -6px #434041;
}

table tr {
  background-color: #f7f7ff;
}

table tbody tr:hover {
  background-color: #f7f7ff;
}

table th,
table td {
  padding: 0.35em 1em;
  border-bottom: 1px solid #f7f7ff;
}

table thead th {
  font-size: 0.85em;
  padding: 1em;
}

table thead tr {
  background-color: #2e80e2;
  color: #f7f7ff;
  text-shadow: 1px 1px 1px #434041;
}

table tbody th {
  text-align: left;
  font-size: 1em;
}

.txt {
  text-align: left;
  font-size: 1em;
}

.txtnw {
  text-align: left;
  font-size: 1em;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}

a:link {
  color: #434041;
}

a:visited {
  color: #434041;
}

a:hover {
  color: #4957cb;
}

a:active {
  color: #be4d31;
}

.content {
  padding: 0px 30px 10px 30px;
}

.sns {
  text-align: justify;
  margin: 10px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
}

div.sns > a {
  margin: 5px 5px 5px 5px;
  padding: 1px;
}

#header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #2e80e2;
  margin: 0;
}

#header-title {
  font-size: 30px;
  float: left;
  margin: 12px 40px 40px 20px;
  color: #f7f7ff;
  text-shadow: 1px 1px 1px #434041;
  white-space: nowrap;
}

#profile {
  width: 260px;
  height: 260px;
  border-radius: 10%;
  padding: 10px;
  margin-top: 40px;
  box-shadow: 2px 2px 4px gray;
}

.img-frame {
  width: 100%;
  padding: 10px;
  box-shadow: 2px 2px 4px gray;
}

#copyright {
  margin: 20px;
  text-align: center;
}

@media screen and (min-width: 330px) {
  #main_panel {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 70px 0 0;
  }

  #logo {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }

  #sidebar {
    width: 100%;
    height: auto;
  }

  #upper {
    margin-top: 80px;
    width: 100%;
  }

  #lower {
    width: 100%;
    height: 100px;
  }

  #main {
    clear: both;
    width: 100%;
    height: 250px;
    padding-top: 40px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  #main-panel {
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 70px 0 0;
  }

  #logo {
    float: left;
    width: 360px;
    margin: 0 auto;
    padding-top: 0px;
    text-align: center;
  }

  #sidebar {
    float: right;
    width: auto;
    height: auto;
  }

  #upper {
    margin-top: 30px;
    width: 600px;
  }

  #lower {
    width: 600px;
  }

  #main {
    clear: both;
    width: 960px;
    padding: 10px 24px;
    margin: 0 auto;
  }
}
